*{
  margin: 0px;
  padding: 0px;
}
#formAndSearch_Container{
  width: 200px;
  height: 500px;
  border: 2px solid red;
}
#pdf_Container{
  position: relative;
  left: 250px;
  top: -500px;
  width: 800px;
  height: 500px;
  border: 2px solid red;
  #pdfFiles{
    position: relative;
    left: 10px;
  }
}