// html,body{
//   scroll-behavior: smooth;
// }
@import '../Prmsu-CCIT-ResearchLib/scrollbarStyles/scrollbarStyles.scss';
*{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#navbar_container{
  position: absolute;
  display: flex;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;
  background-color: gold;
}
#searchAndFilter_Container{
  margin-top: 30px;
  border-right: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 670px;
  
  #search_Container{
    position: relative;
    display: flex;
    padding-left: 20px;
    // justify-content: center;
    margin-top: 40px;
    top: -200px;
    width: 100%;
    height: 200px;
    overflow-y:hidden;
    // border: 2px solid blue;
    
    #searchingForm_container{
      display: flex;
      flex-direction: column;
      position: relative;
      top: 20px;
  
      #searchTitle{
        width: 250px;
        height: 25px;
        font-size: 20px;
      }
      #inputDegree{
        margin-top: 10px;
        width: 250px;
        height: 25px;
        font-size: 20px;
      }
      #searchNameBTn{
        margin-top: 10px;
        width: 120px;
        height: 30px;
        font-size: 15px;
      }
    }
  }
  #showFilter_Container{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    width: 100%;
    height: 50px;
    top: -170px;
    // border: 2px solid red;
    #arrow_updown{
      margin-left: 10px;
      border: solid blue;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(227deg);
      -webkit-transform: rotate(227deg);
    }
    #showFilterButton{
      position: relative;
      background: whitesmoke;
      padding: 5px 10px;
      height: 30px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      overflow-y: hidden;
      letter-spacing: 0.05em;
      // border: 2px solid black;
      height: 50px;
      text-align: left;
      min-width: 100px;
      // justify-content: space-between;
      color: black;
      cursor: pointer;

      &:hover{
        color: red;
      }

    }
  }
  #filter_Container{
    position: absolute;
    padding-left: 40px;
    padding-top: 15px;
    margin-left: 20px;
    top: 350px;
    border-top: 2px solid brown;
    height: 300px;
    width: 270px;
  
    #sortingForm_container{
      font-size: 25px;
      #yearList_Title{
        position: relative;
        margin-top: 20px;
      }
      #yearList{
        font-size: 20px;
        width: 150px;
        height: 30px;
      }
    }
  }
  #submitBtn{
    position: relative;
    font-size: 20px;
    width: 6rem;
    height: 40px;
    margin-top: 20px;
  }  
}

#pdf_Container{
  position: absolute;
  left: 400px;
  top: 50px;
  width: 72%;
  height: 600px;
  @include scrollbar();
  -webkit-scrollbar: 20px;
  background-color: whitesmoke;
  // border: 2px solid red;
  #pdfFiles{
    position: relative;
    font-size: 25px;
    left: 10px;
    margin-top: 10px;
    color: transparent;
  }
  #yearList{
    position: relative;
    width: 200px;
    color: red;
  }
  #pdfLinkFiles{
    position: relative;
    color: black;
    font-weight: 600;

    &:hover{
      color: darkgoldenrod;
    }
  }
  #noFiles{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
  }
}
#numberOfList{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-top: 2px solid black;
  // border-left: 2px solid black;
  right: 30px;
  bottom: 10px;
  font-size: 30px;
  width: 11%;
  color: black;
  height: 50px;
}

@media only screen and (max-width: 500px){
  #searchAndFilter_Container{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 100%;
    padding-left: -20px;
    padding-right: 100px;

    #search_Container{
      margin: 0px;
      left: -35px;
      width: 100%;
      height: 150px;
  
      #searchingForm_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        overflow-x: hidden;
        border: 2px solid green ;
        height: 200px;
        width: 80%;
        #searchTitle{
          margin-top: 10px;
          width: 80%;
      
        }
        #inputDegree{
          margin-top: 5px;
          width: 80%;
        }
        #searchNameBTn{
          position: relative;
          top: 10px;
        }
      }
      #sortingForm_container{
        margin-top: 10px;
        border: 2px solid black;
        height: 130px;
        #yearList{
          width: 100px;
        }
      }
      #submitBtn{
        position: relative;
        left: 150px;
        top: -20px;
      }
    }
    #showFilter_Container{
      position: absolute;
      display: flex;
      align-items: center;
      width: 50%;
      height: 50px;
      top: 220px;
      left: 50px;
      overflow-y: hidden;
      border: 2px solid blue;
      #showFilterButton{
        position: relative;
        background: whitesmoke;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 600;
        border: 2px solid black;
        letter-spacing: 0.05em;
        outline: 0;
        text-align: left;
        min-width: 100px;
        
        // justify-content: space-between;
        color: black;
        cursor: pointer;
      }
    }
  
    #filter_Container{
      position: absolute;
      display: flex;
      overflow-y: hidden;
      top: 300px;
      background-color: whitesmoke;
      // border: 2px solid gold;
      height: 200px;
      width: 50%;

      #sortingForm_container{
      }
    }
  }
  #pdf_Container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    top: 400px;
    left: 0px;
    width: 100%;
    // border: 2px solid red;
    #pdfFiles{
      position: relative;
      left: 10px;
    }
    #yearList{
      position: relative;
      width: 200px;
    }
    #pdfLinkFiles{
      position: relative;
      color: red;
      font-weight: 600;
  
      &:hover{
        color: darkgoldenrod;
      }
    }
  }
}