// html,body{
//   scroll-behavior: smooth;
// }
@import '../Prmsu-CCIT-ResearchLib/scrollbarStyles/scrollbarStyles.scss';
@import '../Prmsu-CCIT-ResearchLib/scrollbarStyles/animation.scss';
*{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#navbar_container{
  position: absolute;
  display: flex;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;
  background-color: gold;
}
#searchAndFilter_Container{
  margin-top: 30px;
  z-index: 0;
  border-right: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 600px;
  

  #searchTitle_container{
    position: relative;
    width: 100%;
    top: -250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3%;
    height: 50px;
    overflow-y:hidden;

    #searchTitle{
      max-width: 77%;
      height: 25px;
      font-size: 20px;
    }
    #searchNameBTn{
      position: relative;
      margin-left: 3%;
      width: 10%;
      height: 30px;
      background-color: black;
      font-size: 15px;
      #searchIcon{
        color: white;

        &:hover{
          color: blue;
        }
      }
    }
  }
    #btnFilter_container{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -260px;
      width: 100%;
      height: 50px;

      #showFilterButton{
        position: relative;
        display: flex;
        left: 39%;
        justify-content: center;
        background: white;
        overflow-y: hidden;
        border: none;
        height: 30px;
        width: 10%;
        cursor: pointer;
        &:hover{
          color: blue;
        }
        &:hover #advanceSearchIcon{
          width: 25px;
        }
        #advanceSearchIcon{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70%;
          height: 100%;
        }
      }
    }
  #filter_Container{
    display: flex;
    align-items: center;
    position: absolute;
    left: 1%;
    padding-top: 15px;
    animation-fill-mode: forwards;
    top: 200px;
    border-top: 2px solid brown;
    height: 40%;
    width: 18%;
      #sortingForm_container{
      font-size: 25px;
      height: 30%;
      #label{
        font-size: 18px;
      }
      #author_container{
        display: flex;
        flex-direction: row;
    
        #searchAuthor{
          position: relative;
          max-width: 65%;
          left: 6%;
        }
      }
      #adviser_container{
        display: flex;
        flex-direction: row;
          margin-top: 20px;
    
        #searchAdviser{
          position: relative;
          max-width: 65%;
          left: 5%;
        }
      }
    }
    #degreeList{
      width: 50%;
      height: 30px;
      font-size: 15px;
      margin-top: 20px;
      margin-left: 10px;
    }
    #yearList{
      margin-left: 10px;
      font-size: 15px;
      width: 30%;
      height: 30px;
    }
    #clearBtn{
      position: relative;
      top: 50px;
      left: -80px;
      height: 30px;
      width: 30%;
      font-size: 1vw;
      border-radius: 15px;
      cursor: pointer;
      border: 3px solid black;
      background-color: transparent;

      &:hover{
        border: 3px solid blue;
        transform: scale(0.90);
      }
    }
  }    
}


  #submitBtn{
    position: relative;
    font-size: 20px;
    width: 6rem;
    height: 40px;
    margin-top: 20px;
  }  

#pdf_Container{
  position: absolute;
  left: 22%;
  z-index: 1;
  top: 50px;
  width: 77%;
  height: 550px;
  @include scrollbar();
  animation-fill-mode: forwards;
  -webkit-scrollbar: 20px;
  overflow-x: hidden;
  background-color: whitesmoke;
  // border: 2px solid red;
  #pdfFiles{
    position: relative;
    font-size: 20px;
    left: 10px;
    margin-top: 10px;
    color: transparent;
  }
  #yearList{
    position: relative;
    width: 200px;
    color: red;
  }
  #pdfLinkFiles{
    position: relative;
    color: black;
    font-weight: 600;

    &:hover{
      color: darkgoldenrod;
    }
  }
  #noFiles{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
  }
}
#numberOfList{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-top: 2px solid black;
  // border-left: 2px solid black;
  right: 30px;
  bottom: 10px;
  font-size: 30px;
  width: 11%;
  color: black;
  height: 50px;
}
@media only screen and (max-width: 950px) and (min-width: 700px){
  #filter_Container{
    overflow-y: hidden;
    height: 60%;
    #sortingForm_container{
      font-size: 25px;
      height: 60%;
      #label{
        font-size: 18px;
      }
      #author_container{
        display: flex;
        flex-direction: column;
        align-items: center;

        #searchAuthor{
          position: relative;
          max-width: 65%;
          left: 6%;
        }
      }
      #adviser_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        #searchAdviser{
          position: relative;
          max-width: 65%;
          left: 5%;
        }
      }
    }
    #degreeList{
      width: 50%;
      height: 30px;
      font-size: 1vw;
      margin-top: 10px;
    }
    #yearList{
      font-size: 1vw;
      width: 30%;
      height: 30px;
    }
  }
}
@media only screen and (max-width: 700px){
  #searchAndFilter_Container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    border: none;
    #searchTitle_container{
      position: relative;
      width: 100%;
      top: -200px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      padding-left: 3%;
      height: 50px;
      overflow-y:hidden;
  
      #searchTitle{
        max-width: 77%;
        height: 25px;
        font-size: 20px;
      }
      #searchNameBTn{
        position: relative;
        margin-left: 3%;
        width: 10%;
        height: 30px;
        background-color: black;
        font-size: 15px;
        #searchIcon{
          color: white;
  
          &:hover{
            color: blue;
          }
        }
      }
    }
      #btnFilter_container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -200px;
        max-width: 100%;
        height: 50px;

        #numberOfList{

        }
        #showFilterButton{
          position: relative;
          left: 134px;
          margin-left: 3%;
          display: flex;
          align-items: center;
          background: white;
          overflow-y: hidden;
          border: none;
          height: 30px;
          width: 10%;
          cursor: pointer;
          &:hover{
            color: blue;
          }
          &:hover #advanceSearchIcon{
            width: 25px;
          }
          #advanceSearchIcon{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 50%;
          }
        }
      }
      #filter_Container{
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        padding-top: 15px;
        animation-fill-mode: forwards;
        top: 135px;
        border:none;
        height: 35%;
        width: 100%;
          #sortingForm_container{
          font-size: 25px;
          height: 45%;
          #label{
            font-size: 18px;
          }
          #author_container{
            display: flex;
            flex-direction: row;
        
            #searchAuthor{
              position: relative;
              max-width: 65%;
              left: 6%;
            }
          }
          #adviser_container{
            display: flex;
            flex-direction: row;
            margin-top: 20px;
        
            #searchAdviser{
              position: relative;
              max-width: 65%;
              left: 5%;
            }
          }
        }
        #degreeList{
          width: 50%;
          height: 30px;
          font-size: 15px;
          margin-top: 20px;
        }
        #yearList{
          font-size: 15px;
          width: 30%;
          height: 30px;
        }
        #clearBtn{
          position: relative;
          top: -5px;
          left: 90px;
          height: 30px;
          width: 30%;
          font-size: 15px;
          border-radius: 15px;
          cursor: pointer;
          border: 3px solid black;
          background-color: transparent;
    
          &:hover{
            border: 3px solid blue;
            transform: scale(0.90);
          }
        }
      } 
  }

  #pdf_Container{
    display: none;
    width: 100%;
    margin-top: 120px;
    left: 0%;
    
    #pdfFiles{
      position: relative;
      font-size: 15px;
      left: 10px;
      margin-top: 10px;
      color: transparent;
    }
  }
  #numberOfList{
    display: none;
    // position: inherit;
    // margin: auto;
    // top: 100px;
    // border-top: 2px solid black;
    // right: 150px;
    // font-size: 15px;
    // width: 70px;
    // color: black;
    // height: 30px;
    // z-index: 100;
  }
}
